@import  '../../../scss/variables.scss';

.pic-container {
  width: 348px;
  height: 200px;
  margin: 0 auto;
  position: relative;

  img {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 1.0;
    z-index: 3;
  }
}

.button-container {
  width: 348px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  .upload-avatar-button {
    width: 100%;

    &.update {
      width: 50%;
    }
  }

  .spacer {
    width: 20px;
  }
}

input.file-upload {
  display: none;
}

label.custom-avatar {
  background: #2EA663;
  color: white; 
  width: 100%;
  padding: 7px 0 7px 0;
  font-weight: 300;
  opacity: 1.0;
  cursor: pointer;
  text-align: center;

  &.update {
    background: $secondary-color;
  }

  p {
    margin: 0;
  }
}