.instructor-search__message {
  text-align: center;
  margin-top: 70px;

  p.header {
    box-shadow: none;
    font-size: 22px;
    margin: 0;
  }

  p.sub-header {
    font-size: 19px;
    color: rgb(150,150,150);
    margin: 0;
    max-width: 800px;
    margin: 0 auto;
  }
}