.search-page__main-container {
  // border: 1px solid green;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    height: 63px;

    input {
      width: 500px;
      // border: 1px solid rgb(170,170,170);
      // height: 63px;,;
    }

    button {
      width: 63px;
      height: 63px;
      margin-left: 20px;
      font-size: 25px;
    }
  }

  p.search-container__lower-text {
    margin-top: 40px;
    font-size: 16px;
    color: rgb(150,150,150);
  }
}