.modal-box {
  .modal-content {
    padding-bottom: 20px;
    padding: 20px;

    .modal-content__top-row {
      width: 100%;
      margin-bottom: 20px;
    }

    textarea {
      margin-bottom: 20px;
      height: 100px;
    }
  }

  .adi-image-container {
    background: rgba(0,0,0,0.2);
    width: 60%;
    height: 200px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0;
    position: relative;

    .adi-image-placeholder {
      background: #84B5C4;
      width: 60%;
      height: 110px;
      border-radius: 12px;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .adi-image-preview {
      width: 60%; 
      height: auto;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .modal-footer {
    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.double-button-container {
      .spacer {
        width: 20px;
      }

      button {
        width: 30%;
        margin: 0;
      }

      .select-another {
        width: 30%;
        font-weight: 50;

        label.select-another-img {
          background:  #2D69FF;
          padding: 12px 0 12px 0;
          color: white; 
          border-radius: 5px;
          width: 100%;
          font-size: 18px;
          font-weight: 200;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    label.adi-licence-upload {
      background: #2EA663;
      width: 60%;
      padding: 12px 0 12px 0;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    input.adi-licence-upload {
      display: none;
    }
  }

  button.close-button {
    background: #EF7676;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
    line-height: 0;
    color: rgba(0,0,0,0.5);
    cursor: pointer;

    .material-icons {
      font-size: 30px;
    }
  }

  button.base-button {
    margin: 0 auto;
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    text-align: center;
  }
}